ion-label {
    width: 35%;
    img {
      width: 100%;
    }
  }

ion-card {
  border-radius: 20px 20px 20px 20px;
  box-shadow: 6px 6px 6px 6px black;
  background-color: #bcbfc5; 
}

ion-card-content{
  color: black;
}

ion-item{
  background-color: #bcbfc5; 
}

ion-input {
  font-size: larger
}
