<ion-content>
    <ion-item-sliding padding *ngFor="let day of days" >
        <ion-item lines="none">
          <ion-label (click)="navigateToExercice(day.id)">
              <ion-button size="large" expand="block">{{ day.name }}</ion-button>
          </ion-label>
        </ion-item>
          <ion-item-options side="end"> 
            <ion-item-option (click)="editWorkoutDayAlert(day.id)">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-item-option>
          <ion-item-option color="danger" (click)="deleteWorkoutDayAlert(day.id)">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
</ion-content>
<ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addWorkoutDayAlert()">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab> 
  <ion-list>

   